# LineageOS 23.2 / Android 16 eBPF + first-boot fragment
# Source of truth: LineageOS/android_kernel_oneplus_sm8150 (lineage-23.2)
# Merge: make ARCH=arm64 samurai_defconfig los23_a16_ebpf.config
#
# Also add to BoardConfig / cmdline for first boot:
#   BOARD_KERNEL_CMDLINE += androidboot.selinux=permissive
#   (or fastboot oem cmdline / bootimg)

CONFIG_BPF=y
CONFIG_BPF_SYSCALL=y
CONFIG_BPF_JIT=y
CONFIG_BPF_JIT_ALWAYS_ON=y
CONFIG_CGROUP_BPF=y
CONFIG_BPF_STREAM_PARSER=y
CONFIG_NET_SOCK_MSG=y
CONFIG_NET_CLS_BPF=y
CONFIG_NET_ACT_BPF=y
CONFIG_NET_SCH_INGRESS=y
CONFIG_NETFILTER_XT_MATCH_BPF=y
CONFIG_LWTUNNEL_BPF=y
CONFIG_KPROBES=y
CONFIG_KPROBE_EVENTS=y
CONFIG_UPROBE_EVENTS=y
CONFIG_PERF_EVENTS=y
CONFIG_BPF_EVENTS=y
CONFIG_IKHEADERS=y
CONFIG_PSI=y
CONFIG_ANDROID=y
CONFIG_ANDROID_BINDER_IPC=y
CONFIG_ANDROID_BINDERFS=y
# CONFIG_ANDROID_LOW_MEMORY_KILLER is not set
CONFIG_SECURITY_SELINUX=y
CONFIG_SECURITY_SELINUX_DEVELOP=y
# CONFIG_BPF_LSM is not set
# CONFIG_DEBUG_INFO_BTF is not set
